.navContainer {
  padding: 0 4rem 0 4rem;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &_navTitle {
    display: flex;
    align-items: center;
  }
  &_navButtons {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
